@charset "utf-8";
.inner-headerarea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
/* .recieved {
    text-align: left;
}
.sent {
    text-align: right;
} */
.inner-chatarea {
  background-color: rgb(205, 221, 223);
}
#chats {
  height: 80vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: x-large;
}
.roomBtns,
.rooms {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.btn {
  margin: 1px;
}
